<div class="row" style="margin:0 auto;">
    <div class="col col-md-6">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <label>Email</label>
            <input class="form-control" type="text" formControlName="email" placeholder="Enter email" required />
            <div *ngIf="forgotPasswordForm.controls['email'].errors && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)">
              <span class="redxx" *ngIf="forgotPasswordForm.controls['email'].errors.required">
                Email is required.
              </span>
              <span class="redxx" *ngIf="forgotPasswordForm.controls['email'].errors.pattern">
                Email is invalid.
              </span>
            </div>
            <hr>
            <button [disabled]="!forgotPasswordForm.valid" class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
</div>