<div class="row" style="margin:0 auto;">
    <div class="col col-md-6">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <label>Email</label>
            <input class="form-control" type="text" formControlName="email" placeholder="Enter email" required />
            <div *ngIf="forgotPasswordForm.controls['email'].errors && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)">
              <span class="redxx" *ngIf="forgotPasswordForm.controls['email'].errors.required">
                Email is required.
              </span>
              <span class="redxx" *ngIf="forgotPasswordForm.controls['email'].errors.pattern">
                Email is invalid.
              </span>
            </div>
            <hr>
            <div class="row">
              <div class="col col-md-2">
                <button [disabled]="!forgotPasswordForm.valid" class="btn btn-primary" type="submit">Sign in</button>
              </div>
              <div class="col col-md-10">
                  <p-progressSpinner *ngIf="forgotpasswordSpinner" [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
              </div>
            </div>
        </form>
    </div>
</div>